<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>IOT Test Platform</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
		<script type="text/javascript">
            window.setInterval(function() {
                go_to();
            },
            100);
            function go_to() {
            	if( document.getElementById("myArticle").style.height < (document.getElementById("myArticle").scrollHeight - 4 ) + "px")
            		document.getElementById("myArticle").style.height = document.getElementById("myArticle").scrollHeight + "px";
            }
		</script>
	</head>
	<body>
		<div class="main">
			<a href="/">
				<img class="logo" src="{{ static_url("img/logo.png") }}">
			</a>
			<div class="container">
				<h1>欢迎访问物联网测试平台</h1>
				<div class="content">
					{% if blog.get('id', None) %}
					<form method="post" action="/edit/{{ int(blog['deviceId']) }}">
					{% else%}
					<form method="post" action="/add">
					{% end %}
						<p>设备ID：</p>
						
						<textarea type="text" class="Title" id="myArticle" name="deviceId" placeholder="在这里输入设备ID">
							{{ blog.get('deviceId', '') }}
						</textarea>
						<p>拷机操作：</p>
						<textarea type="text" class="Article" id="myArticle" name="message" placeholder="在这里输入你的正文">
							{{ blog.get('message', '') }}
						</textarea>
						<br/>
						{% if blog.get('id', None) %}
						<input type="submit" class="Article Button Submit" value="修    改"/>
						{% else%}
						<input type="submit" class="Article Button Submit" value="发    布"/>
						{% end %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>