{% autoescape None %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>IOT Test Platform</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
	</head>
	<body>
		<div class="main">
			<a href="/">
				<img class="logo" src="{{ static_url("img/logo.png") }}">
			</a>
			<div class="container">
				<h1>欢迎访问物联网测试平台</h1>
				{% autoescape None %}
				{% for blog in blogs %}
				<div class="content">
					<div class="Title">
						<p>设备ID：</p>	
						<p>
							<a href="/blog/{{blog['deviceId'] }}">{{ blog['deviceId'] }}</a>
						</p>
						
					</div>
					<div class="Article">
						<p>拷机操作：</p>
						<p>
							{{ blog['message'] }}
						</p>
					</div>
					<div class="Article">
						<p>执行次数：</p>
						<p>
							{{ blog['testTimes'] }}
						</p>
					</div>
				</div>
				{% end %}
				<a href="/add">
					<input type="button" class="Article Button Submit" value="发    布" onclick="document.location.href('/add/')"/>
				</a>
			</div>
		</div>
	</body>
</html>