{% autoescape None %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>IOT Test Platform</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
	</head>
	<body>
		<div class="main">
			<a href="/">
				<img class="logo" src="{{ static_url("img/logo.png") }}">
			</a>
			<div class="container">
				<h1>欢迎访问物联网测试平台</h1>
				{% autoescape None %}
				<div class="content">
					{% if blog.get('id', None) %}
					<form method="post" action="/edit/{{ int(blog['deviceId']) }}">
					{% else%}
					<form method="post" action="/add">
					{% end %}
						<p>服务器地址：</p>				
						<textarea type="text" class="Article" id="myArticle" name="ServerIP" placeholder="在这里输入服务器IP">
							{{ blog.get('ServerIP', '') }}
						</textarea>						
						<br/>
						{% if blog.get('id', None) %}
						<input type="submit" class="Article Button Submit" value="修    改"/>
						{% else%}
						<input type="submit" class="Article Button Submit" value="发    布"/>
						{% end %}
					</form>
				</div>
				{% for blog in blogs %}
				<div class="content">
					<div class="Title">
						<p>设备ID：</p>	
						<p>
							<a href="/blog/{{blog['deviceId'] }}">{{ blog['deviceId'] }}</a>
						</p>
						
					</div>
					<div class="Article">
						<p>拷机操作：</p>
						<p>
							{{ blog['message'] }}
						</p>
					</div>
					<div class="Article">
						<p>执行次数：</p>
						<p>
							{{ blog['testTimes'] }}
						</p>
					</div>
				</div>
				{% end %}
				<a href="/add">
					<input type="button" class="Article Button Submit" value="新 增 测 试" onclick="document.location.href('/add/')"/>
				</a>
			</div>
		</div>
	</body>
</html>